<section id="fh5co-contact" data-section="contact" class='pt-5'>
  <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 to-animate fadeInUp animated text-center">

    <h1 class='display-4 mb-5'>Contactez-nous</h1>

    <%= form_for @user, url: {action: "contact"} do |f| %>

      <div class="form-group text-left mb-4">
        <%= f.label :email, 'Objet' %><br />
        <%= f.email_field :email, autofocus: true, class:"form-control", style: ""%>
      </div>

      <div class="form-group text-left">
        <%= f.label :email, 'Contenu' %><br />
        <%= f.text_area :email, class:"form-control" %>
      </div>

      <div class="form-group mt-4 mb-5">
        <%= f.submit "Envoyer le message" , class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>

  </div>
</section>
