<div class="col-lg-6 to-animate fadeInUp animated text-center mx-auto p-5">

  <h3>Modifier son mot de passe </h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%#<%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder:"Email", class:"form-control"%>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

     <br />
    <em><%= @minimum_password_length %> characters minimum</em>

    <div class="field">
      <%#<%= f.label :password  <i>(leave blank if you don't want to change it)</i><br /> %>
      <%= f.password_field :password, autocomplete: "new-password ", placeholder:"New password (leave blank if you don't want to change it)", class:"form-control mb-2" %>
      <% if @minimum_password_length %>
       
      <% end %>
    </div>

    <div class="field">
      <%#<%= f.label :password_confirmation <br /> %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Password confirmation", class:"form-control mb-2" %>
    </div>

    <div class="field">
      <%#<%= f.label :current_password  <i>(we need your current password to confirm your changes)</i><br /> %>
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder:"Current password (we need your current password to confirm your changes)", class:"form-control mb-2" %>
    </div>

    <div class="actions">
      <%= f.submit "Modifié", class: "btn btn-primary btn-lg " %>
    </div></br>
  <% end %>

  <h3 class >Supprimer mon compte</h3>

  <p>Insatisfait ? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Vous nous quittez déjà ?" }, method: :delete , class: "btn btn-primary btn-lg"%></p>

  <%= link_to "Back", :back %>
</div> 