<section id="fh5co-home" data-section="connection" style="background-image: url(&quot; https://cdn.pixabay.com/photo/2019/06/16/19/10/wheat-4278543_1280.jpg &quot;); background-position: 0px 0px; height: 200px" data-stellar-background-ratio="0.5">
  <div class="gradient"></div>
  <div class="container">
    <div class="text-wrap" style="height: 180px">
      <div class="text-inner">
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="to-animate">Inscription</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slant"></div>
</section>

<section id="fh5co-testimonials" data-section="connection" class='pt-5'>
  <% if user_signed_in? || producer_signed_in? %>
    <div class="to-animate text-center">
      <h1 class='display-4 mb-5'>
        <i class="fas fa-exclamation-triangle" style="color: red;"></i>
        <br>
        <i>Hé Ho !</i> Vous ne pouvez pas vous connecter à deux comptes différents !
      </h1>
      <%= link_to "Retourner à l'Accueil", root_path(anchor: "accueil"), { :class => 'in btn btn-primary' } %>
    </div>
  <% else %>
    
    <div class="col-8 offset-2 col-sm-6 offset-sm-3 col-lg-4 offset-lg-4 to-animate text-center">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group text-left mb-4">
          <%= f.label :email, 'Email' %><br />
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="email" style='width: 41px'>@</span>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder:"abc@gmail.com", class:"form-control"%>
          </div>
        </div>

        <div class="form-group text-left mb-4">
          <%= f.label :password, 'Mot de passe' %><br />
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="email" style='width: 41px'><i class="fa fa-lock" aria-hidden="true"></i></span>
            </div>
            <%= f.password_field :password, autocomplete: "new-password", placeholder:"Mot de passe", class:"form-control" %>
          </div>
          <% if @minimum_password_length %>
            <em><small>(<%= @minimum_password_length %> caratères minimum)</small></em>
          <% end %>
        </div>

        <div class="form-group text-left">
          <%= f.label :password_confirmation, 'Confirmation du mot de passe' %><br />
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="email" style='width: 41px'><i class="fa fa-lock" aria-hidden="true"></i></span>
            </div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Mot de passe", class:"form-control" %>
          </div>
        </div>

        <div class="form-group mt-4">
          <%= f.submit "S'inscrire" , class: "btn btn-primary btn-lg" %>
        </div>
      <% end %>

      <div class="mt-3 mb-5">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <%end%>
</section>