<section id="fh5co-home" data-section="home" style="background-image: url(&quot; https://cdn.pixabay.com/photo/2019/06/16/19/10/wheat-4278543_1280.jpg &quot;); background-position: 0px 0px; height: 200px" data-stellar-background-ratio="0.5" class="animated">
  <div class="gradient"></div>
  <div class="container">
    <div class="text-wrap" style="height: 180px">
      <div class="text-inner">
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="to-animate fadeInUp animated">Mon profil</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slant"></div>
</section>

<section id="fh5co-work" data-section="work" class="animated">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center" style="padding: 0">
        <h2 class="to-animate fadeInUp animated">Informations</h2>
      </div>
    </div>

    <div class="row row-bottom-padded-sm">
      <div class="col-md-6 text-center to-animate fadeInUp animated">
        <a href="https://cdn.pixabay.com/photo/2016/07/27/20/03/berries-1546125_1280.jpg" class="fh5co-project-item image-popup to-animate fadeInUp animated">
          <img src="https://cdn.pixabay.com/photo/2016/07/27/20/03/berries-1546125_1280.jpg" alt="Image" class="img-responsive" style="height: 400px">
        </a>
      </div>

      <div class="col-md-6 text-center to-animate fadeInUp animated">
        <div class="fh5co-contact-info box-user">
          <ul>
            <li><i class="fas fa-address-card"></i> <%= @user.first_name %> <%= @user.last_name %></li>
            <li><i class="fas fa-phone-alt"></i> <%= @user.phone_number %></li>
            <li><i class="fas fa-at"></i> <%= @user.email%></li>
          </ul>
        </div>
      </div>

      <p class="text-center">Mes producteurs favoris </p>

        <table class="table text-light table-sm table-hover">
          <thead>
            <tr class="bg-green">
              <th scope="col" style="width: 25%">Nom</th>
              <th scope="col" style="width: 25%">Prenom</th>
              <th scope="col" style="width: 25%">Ville</th>
              <th scope="col" style="width: 25%">email</th>
              <th scope="col" style="width: 25%">profil</th>
              <th scope="col" style="width: 25%">supprimer</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="align-middle py-3"></td>
              
            </tr>
          </tbody>
        </table>
        <p>Total :<%= current_user.favorites.all.count %></p>




    </div>
  </div>
  <div class="slant"></div>
</section>

<section id="fh5co-about-bis" data-section="about" class="animated">
  <%if user_signed_in?%>
    <div class="row box-edit">
      <%= link_to "Modifier mes identifiants", edit_user_registration_path, { :type => "button",  :class => "btn btn-primary btn-lg" } %>
      <%= link_to "Modifier mes informations", edit_user_path(current_user), class: "btn btn-primary btn-lg" %>
    </div>
  <%end%>
  <div class="slant"></div>
</section>