<div class="gradient"></div>

<section id="fh5co-home" data-section='profile' style="background-image: url(&quot; https://cdn.pixabay.com/photo/2019/06/16/19/10/wheat-4278543_1280.jpg &quot;); background-position: 0px 0px; height: 200px;" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="text-wrap" style="height: 180px;">
      <div class="text-inner">
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="to-animate">Mon profil</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slant"></div>
</section>

<section id="fh5co-work" class='pt-5'>
  <div class='container'>

    <section id="information-editing" class='mt-5'>
      <% if user_signed_in? %>
        <div class="row my-3">
          <div class="col-md-6">
            <%= link_to "Modifier mes identifiants", edit_user_registration_path, class: "btn btn-primary btn-lg my-2" %>
          </div>
          <div class="col-md-5 text-center px-0 mx-3">
            <%= link_to "Modifier mes informations", edit_user_path(current_user), class: "btn btn-primary btn-lg w-100 my-2" %>
          </div>
        </div>
      <% end %>
    </section>


    <div class="row">
      <div class="col-md-6 text-center to-animate h-100 align-self-center mt-3" style='max-height: 400px;'>
        <% if @user.avatar_user.attached? %>
          <%= link_to image_tag(@user.avatar_user, alt: 'avatar_user', class:'img-responsive'), @user.avatar_user, class:'fh5co-project-item image-popup to-animate' %>
        <% else %>
          <p class='font-italic box-avatar'>Il n'y a pas encore d'avatar lié à cet utilisateur</p>
        <% end %>
        <% if user_signed_in? %>
          <div class='text-left mb-3'>
            <%= form_tag user_avatar_users_path(@user), multipart: true do %>
              <div class='input-group'>
                <div class="input-group-prepend">
                  <%= submit_tag "Ajouter", class:'btn btn-primary' %>
                </div>
                <div class="custom-file">
                  <%= file_field_tag :avatar_user, id: 'avatar_user', class:'custom-file-input' %>
                  <%= label_tag :avatar_user, "Choisissez...", class:'custom-file-label' %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="col-md-5 fh5co-contact-info to-animate h-100 mx-3 mt-3" id='user-producer-information'>
        <table class="table table-borderless text-white text-left my-2">
          <tbody>
            <tr>
              <td scope="col" style="width: 30%; overflow: hidden;"><i class="fas fa-address-card"></i></td>
              <td scope="col" style="width: 70%; overflow: hidden;">
                <% if @user.first_name.nil? || @user.last_name.nil? %>
                  <em>Non enregistré</em>
                <% else %>
                  <%= @user.first_name %> <%= @user.last_name %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><i class="fas fa-phone-alt"></i></td>
              <td>
                <% if @user.phone_number.nil? %>
                  <span class='font-italic'>Non enregistré</span>
                <% else %>
                  <%= @user.phone_number %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><i class="fas fa-at"></i></td>
              <td><a href="mailto:<%= @user.email%>"><%= @user.email%></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container my-5">
      <div class="text-center">
        <h2 class="text-white">Mes producteurs favoris !</h2>
      </div>
      <div class="col fh5co-contact-info">
        <table class="table text-light text-center table-hover table-borderless table-responsive">
          <thead>
            <tr class="border-bottom">
              <th scope="col" style="width: 20%; overflow: hidden;">Nom</th>
              <th scope="col" style="width: 20%; overflow: hidden;">Prénom</th>
              <th scope="col" style="width: 20%; overflow: hidden;">Téléphone</th>
              <th scope="col" style="width: 20%; overflow: hidden;">Email</th>
              <th scope="col" style="width: 10%; overflow: hidden;">Profil</th>
              <th scope="col" style="width: 10%; overflow: hidden;">Retirer</th>
            </tr>
          </thead>
          <tbody>
          <% current_user.favorites.each do |producer| %>
            <tr>
              <td class="py-2"><%= link_to producer.last_name, producer_path(producer.id) %></td>
              <td class="py-2"><%= link_to producer.first_name, producer_path(producer.id) %></td>
              <td class="py-2"><%= tel_to producer.phone_number, producer.phone_number %></td>
              <td class="py-2"><%= mail_to producer.email, producer.email %> </a></td>
              <td class="py-2"><%= link_to "Voir", producer_path(producer.id) %></td>
              <td class="py-2">
                <%= link_to favorite_producer_path(producer, type: "unfavorite-from-user-profile"), method: :put do %>
                  <span style="color: red;"><i class="fas fa-trash"></i></span>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>
