<section id="fh5co-home" data-section="home" style="background-image: url(&quot; https://cdn.pixabay.com/photo/2019/06/16/19/10/wheat-4278543_1280.jpg &quot;); background-position: 0px 0px; height: 200px" data-stellar-background-ratio="0.5" class="animated">
  <div class="gradient"></div>
  <div class="container">
    <div class="text-wrap" style="height: 180px">
      <div class="text-inner">
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="to-animate fadeInUp animated">Mon profil</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slant"></div>
</section>

<section id="fh5co-work" data-section="work" class="animated">
  <div class="container">
    <div class="row row-bottom-padded-sm">
      <div class="col-md-6 text-center to-animate fadeInUp animated">
        <a href="https://cdn.pixabay.com/photo/2016/07/27/20/03/berries-1546125_1280.jpg" class="fh5co-project-item image-popup to-animate fadeInUp animated">
          <img src="https://cdn.pixabay.com/photo/2016/07/27/20/03/berries-1546125_1280.jpg" alt="Image" class="img-responsive" style="height: 400px">
        </a>
      </div>

      <div class="col-md-6 text-center to-animate fadeInUp animated">
        <div class="fh5co-contact-info box-user">
          <ul>
            <li><i class="fas fa-address-card"></i> <%= @user.first_name %> <%= @user.last_name %></li>
            <li><i class="fas fa-phone-alt"></i> <%= @user.phone_number %></li>
            <li><i class="fas fa-at"></i> <%= @user.email%></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <!--MY FAVORITE PRODUCERS-->
      <div class="col text-center to-animate fadeInUp animated">
        <p class="text-center">
          <strong>Mes producteurs favoris !</strong> 
        </p>
      </div>
      <!--TABLE-->
      <div class="col fh5co-contact-info box-user">
        <table class="table text-light table-hover table-borderless table-responsive">
          <thead>
            <tr class="border-bottom">
              <th scope="col" style="width: 20%; overflow: hidden;">Nom</th>
              <th scope="col" style="width: 20%; overflow: hidden;">Prénom</th>
              <th scope="col" style="width: 20%; overflow: hidden;">Téléphone</th>
              <th scope="col" style="width: 20%; overflow: hidden;">Email</th>
              <th scope="col" style="width: 10%; overflow: hidden;">Profil</th>
              <th scope="col" style="width: 10%; overflow: hidden;">Retirer</th>
            </tr>
          </thead>
          <tbody>
          <% current_user.favorites.each do |producer| %>
            <tr>
              <td class="align-left py-2"><%= link_to producer.last_name, producer_path(producer.id) %></td>
              <td class="align-left py-2"><%= link_to producer.first_name, producer_path(producer.id) %></td>
              <td class="align-left py-2"><%= tel_to producer.phone_number, producer.phone_number %></td>
              <td class="align-left py-2"><%= mail_to producer.email, producer.email %> </a></td>
              <td class="align-center py-2"><%= link_to "Voir", producer_path(producer.id) %></td>
              <td class="align-center py-2">
                <%= link_to favorite_producer_path(producer, type: "unfavorite-from-user-profile"), method: :put do %>
                  <span style="color: red;"><i class="fas fa-trash"></i></span>
                <%end%>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div> 
    </div>
  </div>
  <div class="slant"></div>
</section>

<section id="fh5co-about-bis" data-section="about" class="animated">
  <%if user_signed_in?%>
    <div class="row box-edit">
      <%= link_to "Modifier mes identifiants", edit_user_registration_path, { :type => "button",  :class => "btn btn-primary btn-lg" } %>
      <%= link_to "Modifier mes informations", edit_user_path(current_user), class: "btn btn-primary btn-lg" %>
    </div>
  <%end%>
  <div class="slant"></div>
</section>