<!-- JUMBOTRON -->

<section id="fh5co-home" data-section="home">
	<div class="home-image" style="background-image: url(<%= asset_path('homepage/field.jpg') %>);"></div>
	<div class="container">
		<div class="text-wrap">
			<div class="text-inner">
				<div class="row justify-content-center">
					<div class="col-md-8 col-md-offset-2 to-animate">
						<h1 class="to-animate" style="text-shadow: 2px 2px 4px #000; font-size: 60px;">Tout commence là.</h1>
						<h2 class="to-animate pb-5" style="text-shadow: 0 0 3px #A4D792; font-size: 35px;"><b>L'annuaire en ligne de vos producteurs locaux</b></h2>
					</div>
					<div class="col-md-8 col-md-offset-2 to-animate mt-3">
						<%= link_to "Voir la carte", producers_path(@producer), :class => 'in btn btn-lg btn-jumbotron' %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="slant"></div>
</section>

<!-- NAVIGATION CHOICE -->

<section id="fh5co-intro" class='pb-0'>
	<div class="container mt-3">
		<div class="row row-bottom-padded-lg mx-auto">

			<!-- I am looking for a producer -->
			<div class="fh5co-block to-animate mt-2" style="background-image: url(<%= asset_path('homepage/buyer.jpg')%>);">
				<div class="overlay-darker"></div>
				<div class="overlay"></div>
				<div class="fh5co-text">
					<span class='green' style="font-size: 8em;">
						<i class="fas fa-seedling"></i>
					</span>
					<h2>Je suis un consommateur</h2>
					<p>
						Le petit guide du locavore : trouvez votre producteur local et sachez enfin d'où provient le contenu de votre assiette !
					</p>
					<% if user_signed_in? %>
						<%= link_to "Voir la carte", producers_path(@producer), :class => 'in btn btn-primary m-2' %>
						<%= link_to "Déconnexion", destroy_user_session_path, { method: :delete, :class => 'in btn btn-primary m-2' } %>
					<% elsif producer_signed_in? %>
						<p class='btn btn-primary'>Vous êtes déjà connecté en tant que producteur</p>
					<% else %>
						<%= link_to "S'inscrire", new_user_registration_path, :class => 'in btn btn-primary m-2' %>
						<%= link_to "Se connecter", new_user_session_path, :class => 'in btn btn-primary m-2' %>
					<% end %>
				</div>
			</div>

			<!-- I am a producer -->
			<div class="fh5co-block to-animate mt-2" style="background-image: url(<%= asset_path('homepage/seeding.jpg')%>);">
				<div class="overlay-darker"></div>
				<div class="overlay"></div>
				<div class="fh5co-text">
					<span class="orange" style="font-size: 8em;">
						<i class="fas fa-hands-helping"></i>
					</span>
					<h2>Je suis un producteur</h2>
					<p>
						Vous souhaitez vendre en circuit court ? Inscrivez-vous et les consommateurs viendront vous rendre visite !
					</p>
					<% if producer_signed_in? %>
						<%= link_to "Mon profil", producer_path(current_producer), :class => 'in btn btn-primary m-2' %>
						<%= link_to "Déconnexion", destroy_producer_session_path, { method: :delete, :class => 'in btn btn-primary m-2' } %>
					<% elsif user_signed_in? %>
						<p class='btn btn-primary'>Vous êtes déjà connecté en tant qu'utilisateur</p>
					<% else %>
						<%= link_to "S'inscrire", new_producer_registration_path, :class => 'in btn btn-primary m-2' %>
						<%= link_to "Se connecter", new_producer_session_path, :class => 'in btn btn-primary m-2' %>
					<% end %>
				</div>
			</div>
		</div>

		<!-- DESCRIPTION OF THE WEBSITE -->
		<div class="section-heading text-center p-0">
			<h2 class="to-animate">Vos producteurs locaux</h2>
			<div class="m-3">
				<span><img src="<%= asset_path('homepage/fruit.png') %>" alt="fruit" style="height: 100px;" class="to-animate m-2"></span>
				<span><img src="<%= asset_path('homepage/meat.png') %>" alt="meat" style="height: 100px;" class="to-animate m-2"></span>
				<span><img src="<%= asset_path('homepage/fish.png') %>" alt="fish" style="height: 80px;" class="to-animate m-2"></span>
			</div>
			<div class="d-none">
				Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
			</div>
			<p>
				Entre gestes barrières et règles de distanciation sociale, le confinement a bouleversé la manière de consommer.
				Naturellement, la limitation des déplacements a favorisé les circuits courts, le drive, et boosté les ventes en ligne.
			</p>
			<p>
				Pour autant, savez-vous vraiment qui sont les producteurs autour de chez vous ?
			</p>
			<p>
				<b>
					Avec notre <%= link_to "carte", producers_path(@producer) %> interactive et communautaire,
					retrouvez vos maraîchers et producteurs favoris directement en ligne !
				</b>
			</p>
		</div>

	</div>
</section>

<!-- VALUES -->

<section id="fh5co-services">
	<div class="container">

		<!-- header -->
			<div class="section-heading text-center pb-5 mb-0">
				<h2 class="to-animate">Nos valeurs</h2>
				<div class="subtext text-center to-animate">
					<h3>L'autosuffisance alimentaire pour tous, face à l'urgence climatique.</h3>
				</div>
			</div>

		<div class="row text-justify">

			<!-- covid-19 -->
			<div class="col-sm-6 col-md-6 to-animate mb-4">
				<span class='icon to-animate-2 pl-2' style=" color: red;"><i class="fas fa-virus-slash"></i></span>
				<h3>COVID-19 Proof</h3>
				<p>La pandémie de SARS-CoV-2 nous a prouvés l'importance des circuits courts. En vous reliant directement à vos producteurs, Tous au Marché contribue à votre résilience alimentaire. </p>
			</div>

			<!--FRESHNESS & QUALITY-->
			<div class="col-sm-6 col-md-6 to-animate mb-4">
				<span class='icon to-animate-2 pl-2' style=" color: yellow;"><i class="fas fa-lemon"></i></span>
				<h3>Fraîcheur &amp; Qualité</h3>
				<p>Un esprit sain dans un corps sain. Rien de nouveau sous le soleil ! Mais n'est-ce pas encore meilleur en sachant ce qui se cache derrière votre assiette ?</p>
			</div>
			<!--MADE IN CHEZ VOUS-->
			<div class="col-sm-6 col-md-6 to-animate mb-4">
				<span class='icon to-animate-2 pl-2' style="color: #FFC107;"><i class="fas fa-hand-sparkles"></i></span>
				<h3>Made in chez vous</h3>
				<p>Découvrez comment travaille votre producteur local, quels sont ses labels, et comment le contacter.</p>
			</div>

			<!--GOOD FOR THE PLANET-->
			<div class="col-sm-6 col-md-6 to-animate mb-4">
				<span class='icon to-animate-2 pl-2' style="color: #00ff33;"><i class="fas fa-globe-americas"></i></span>
				<h3>Bon pour la planète</h3>
				<p>Parce qu'il y a urgence à repenser nos modes de consommation, pour notre avenir et celui de nos enfants.</p>
			</div>

		</div>
	</div>
</section>

<!--ABOUT-->

<section id="fh5co-about">
	<div class="container to-animate">

		<!--ONCE UPON A TIME 5 MILLENIALS-->
		<div class="row">
			<div class="section-heading text-center mb-0">
				<h2 class="to-animate">À propos</h2>
				<div class="row justify-content-center">
					<div class="subtext to-animate text-center">
						<h3>Il était une fois 5 millénials, qui voulaient changer le monde...</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex flex-wrap justify-content-around">

			<!--AURORE PORTRAIT-->
			<div class="fh5co-person app-card text-center to-animate">
				<figure><img src="<%= asset_path('homepage/portraits/aurore.jpg') %>" alt="portrait"></figure>
				<h3>Aurore Carrière</h3>
				<span class="fh5co-position">COO</span>
				<div class="app-card-text d-flex flex-column justify-content-between">
					<p>Diplomée en management de la qualité, Aurore s'occupe du sourcing des meilleurs producteurs de votre région et des opérations chez Tous au Marché !</p>
					<ul class="social social-circle">
						<li><a href="https://www.linkedin.com/in/aurore-carriere-230856131/"><i class="fab fa-linkedin-in"></i></a></li>
						<li><a href="https://github.com/Titpioupiou"><i class="fas fa-code"></i></a></li>
					</ul>
				</div>
			</div>

			<!-- CLEMENT PORTRAIT -->
			<div class="fh5co-person app-card text-center to-animate">
				<figure><img src="<%= asset_path('homepage/portraits/clement.jpg') %>" alt="portrait"></figure>
				<h3>Clément Facco</h3>
				<span class="fh5co-position">CMO</span>
				<div class="app-card-text d-flex flex-column justify-content-between">
					<p>Diplomé en marketing, Clément est en charge du green marketing chez Tous au Marché. Il a pour ambition d'amener Tous au marché au niveau national !</p>
					<ul class="social social-circle">
						<li><a href="https://www.linkedin.com/in/clementfacco/"><i class="fab fa-linkedin-in"></i></a></li>
						<li><a href="https://github.com/cfacco1"><i class="fas fa-code"></i></a></li>
					</ul>
				</div>
			</div>

			<!-- NICOLAS PORTRAIT -->
			<div class="fh5co-person app-card text-center to-animate">
				<figure><img src="<%= asset_path('homepage/portraits/nicolas.jpg') %>" alt="portrait"></figure>
				<h3>Nicolas Hodée</h3>
				<span class="fh5co-position">CEO</span>
				<div class="app-card-text d-flex flex-column justify-content-between">
					<p>C'est en voyant la malbouffe outre-Manche que Nicolas réalise qu'il n'y a pas de communauté entre consommateurs et producteurs</p>
					<ul class="social social-circle">
						<li><a href="https://www.instagram.com/nicolas_hodee_photography/"><i class="fab fa-instagram"></i></a></li>
						<li><a href="https://www.facebook.com/photos.nicolashodee"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="https://github.com/nicolashodee"><i class="fas fa-code"></i></a></li>
						<li><a href="https://www.nicolashodee.com/"><i class="fas fa-globe-americas"></i></a></li>
					</ul>
				</div>
			</div>

			<!-- MARVIN PORTRAIT -->
			<div class="fh5co-person app-card text-center to-animate">
				<figure><img src="<%= asset_path('homepage/portraits/marvin.jpg') %>" alt="portrait"></figure>
				<h3>Marvin Pierrat</h3>
				<span class="fh5co-position">Head of Partnerships</span>
				<div class="app-card-text d-flex flex-column justify-content-between">
					<p>Ancien commercial, Marvin a rejoint le projet pour développer la communauté et gérer les partenariats avec les institutions régionales</p>
					<ul class="social social-circle">
						<li><a href="https://www.linkedin.com/in/pierrat-marvin-387937118/"><i class="fab fa-linkedin-in"></i></a></li>
						<li><a href="https://github.com/Homarv"><i class="fas fa-code"></i></a></li>
					</ul>
				</div>
			</div>

			<!-- JORDAN PORTRAIT -->
			<div class="fh5co-person app-card text-center to-animate">
				<figure><img src="<%= asset_path('homepage/portraits/jordan.jpg') %>" alt="portrait"></figure>
				<h3>Jordan Tournerie</h3>
				<span class="fh5co-position">CTO</span>
				<div class="app-card-text d-flex flex-column justify-content-between">
					<p>Ingénieur, Jordan est notre expert tech en charge du développement de la plateforme : s'adresser à lui pour toute question technique !</p>
					<ul class="social social-circle">
						<li><a href="https://www.linkedin.com/in/jordan-tournerie-a978a6b7/"><i class="fab fa-linkedin-in"></i></a></li>
						<li><a href="https://github.com/JordanT2310"><i class="fas fa-code"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
