Welcome on TOUS AU MARCHE ! 

<!--THIS TESTING BLOCK IS FOR NAVIGATION THROUGH THE WEBSITE UNTIL WE GET A NAVBAR-->
<div class="user-access">
  <% if user_signed_in? %>
    
    <%= link_to "Mon profil utilisateur", user_path(current_user), { :type => "button",  :class => 'in' } %>
    <%= link_to "Déconnexion", destroy_user_session_path, { method: :delete, :type => "button",  :class => 'in' } %>
  <% else %>
    <%= link_to "Enregistrez-vous comme utilisateur", new_user_registration_path, :type => "button" %>
    <%= link_to "Connexion pour les utilisateurs", new_user_session_path, :type => "button",  :class => 'in' %>
  <% end %>
</div>
<div class="producer-access">
  <% if producer_signed_in? %>
    <%= link_to "Mon profil producteur", producer_path(current_producer), { :type => "button",  :class => 'in' } %>
    <%= link_to "Déconnexion", destroy_producer_session_path, { method: :delete, :type => "button",  :class => 'in' } %>
  <% else %>
    <%= link_to "Enregistrez-vous comme producteur", new_producer_registration_path, :type => "button" %>
    <%= link_to "Connexion pour les producteurs", new_producer_session_path, :type => "button",  :class => 'in' %>
  <% end %>
</div>
<!--END OF TESTING BLOCK-->
