<div class="form-container">
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h3>Message not sent due to following errors:</h3>
      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form_for(@contact) do |f| %>
    <h2 class="form-title" id="login-title">Contact Us</h2>

    <div class="form-section">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="form-section">
      <%= f.label :subject %>
      <%= f.select :subject, options_for_select(@subject_options, 
          @contact.subject), include_blank: "Select Issue" %>
    </div>

    <div class="form-section">
      <%= f.label :message %>
      <%= f.text_area :message %>
    </div>
    
    <div class="submit" id="login-submit">
      <%= submit_tag "Send" %>
    </div>
  <% end %>
</div>