<section id="fh5co-home" data-section="connection" style="background-image: url(&quot; https://cdn.pixabay.com/photo/2019/06/16/19/10/wheat-4278543_1280.jpg &quot;); background-position: 0px 0px; height: 200px" data-stellar-background-ratio="0.5">
  <div class="gradient"></div>
  <div class="container">
    <div class="text-wrap" style="height: 180px">
      <div class="text-inner">
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="to-animate">Édition du profil</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slant"></div>
</section>

<section id="fh5co-testimonials" data-section="connection" class='pt-5'>
  <div class="col-8 offset-2 col-sm-6 offset-sm-3 col-lg-4 offset-lg-4 to-animate text-center">
    
    <%= form_for(@producer, as: current_producer, url: producer_path(current_producer), html: { method: :put }) do |f| %>

      <div class="form-group text-left mb-4">
        <%= f.label :first_name, 'Prénom' %><br />
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="email" style='width: 41px'><i class="fas fa-address-card"></i></span>
          </div>
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" , placeholder:"Prénom", class:"form-control", style: 'text-transform: capitalize;'%>
        </div>
      </div>

      <div class="form-group text-left mb-4">
        <%= f.label :last_name, 'Nom de famille' %>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="email" style='width: 41px'><i class="far fa-address-card"></i></span>
          </div>
          <%= f.text_field :last_name, autocomplete: "last_name", placeholder:"NOM DE FAMILLE", class:"form-control", style: 'text-transform: uppercase;' %>
        </div>
      </div>

      <div class="form-group text-left mb-4">
        <%= f.label :description, 'Informations importantes' %>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="email" style='width: 41px'><i class="fas fa-history"></i></span>
          </div>
          <%= f.text_area :description, autocomplete: "description", placeholder:"Le nom de votre ferme/lieu de vente/marché, vos horaires, vos jours d'ouverture, les informations pertinentes, votre histoire, ...", class:"form-control" %>
        </div>
      </div>

      <div class="form-group text-left mb-4">
        <%= f.label :address, 'Adresse' %>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="email" style='width: 41px'><i class="fas fa-map-marked-alt"></i></span>
          </div>
          <%= f.text_field :address, autocomplete: "address", placeholder:"Adresse de votre lieu de vente", class:"form-control" %>
        </div>
      </div>

      <div class="form-group text-left mb-4">
        <%= f.label :zip_code, 'Code Postal' %>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="email" style='width: 41px'><i class="fas fa-map-marker"></i></span>
          </div>
          <%= f.text_field :zip_code, autocomplete: "zip_code", placeholder:"Code Postal", class:"form-control" %>
        </div>
      </div>

      <div class="form-group text-left mb-4">
        <%= f.label :city_name, 'Ville' %>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="email" style='width: 41px'><i class="fas fa-map-marker-alt"></i></span>
          </div>
          <%= f.text_field :city_name, autocomplete: "city_name", placeholder:"Ville", class:"form-control" %>
        </div>
      </div>

      <div class="form-group text-left mb-4">
        <%= f.label :phone_number, 'Numéro de téléphone' %>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="email" style='width: 41px'><i class="fas fa-phone-alt"></i></span>
          </div>
          <%= f.text_field :phone_number, autocomplete: "phone_number ", maxlength: 10, placeholder:"0601020304", class:"form-control" %>
        </div>
      </div>

      <div class="form-group text-left mb-4">
        <%= f.label :website, 'Site internet' %>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="email" style='width: 41px'><i class="fas fa-globe"></i></span>
          </div>
          <%= f.text_field :website, autocomplete: "website ", placeholder:"www.votresite.com", class:"form-control" %>
        </div>
      </div>

      <div class="actions mt-4">
        <%= f.submit "Mettre à jour", class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>

    <div class="row justify-content-center mt-4 mb-5">
      <%= link_to "Retour", :back, class: 'mx-3' %>
    </div>

  </div>
</section>