<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
</head>

<% if user_signed_in? || producer_signed_in? %>
  <div class= "row "> 
    <div class= "col-lg-8 col-md-6 col-sm-6 col-xs-6 ">  
      <div class="row">

        <% @producer.each do |producer| %>
          <div class="col-lg-6 col-md-6"> 
            <div class="box-testimony">
              <blockquote class="to-animate-2 fadeInDown animated">

                <%if @producer.city_name.nil? %>
                  <i>Pas d'adresse enregistrée pour le moment</i>
                  <%else%>
                  <p>Localisation : <%= @producer.city_name %></p>     
                <%end%>

                <p><%= producer.description %></p>
              </blockquote>
              <div class="author to-animate fadeInUp animated">
                <figure>
                  <img class="user_picture" src="<%= asset_path('indexproducers/ble.jpg') %>" style="float: left">
                </figure>
                  <p><%= producer.first_name %> <%= producer.last_name %><br>
                  <span class="subtext"><%= producer.email %></a> </span></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class= "container_card col-lg-4 col-md-6 col-sm-6 col-xs-6">  
     <div class ="map" id="map"> 
    </div> >
  </div>  


<% else %>
  <div class="content">
    <section class="index_producers_background"  style="background-image: url(&quot;/assets/homepage/field-79c6d10a0166fb50aee94e9861201fa726e84e31301b844f36c97e0c2fcc6719.jpg&quot;); ">	
       
							<div class="hello fh5co">
                <%= link_to "S'enregistrer", new_user_registration_path, :type => "button", :class => 'btn btn-primary to-animate fadeInUp animated'  %>
                <%= link_to "Connexion", new_user_session_path, :type => "button",  :class => 'btn btn-primary to-animate fadeInUp animated' %>
								<h1 class="to-animate fadeInUp animated" style="color:white" >Tout commence là.</h1>
								<h2 class="to-animate fadeInUp animated" style="color:white" ><b>L'annuaire en ligne de vos producteurs locaux</b></h2>
							</div>
				
		</section>
	</div>			
					
<% end %>


<script>

  var map = L.map('map').setView([51.505, -0.09], 9);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);


  L.marker([51.5, -0.09]).addTo(map)
      .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
      .openPopup();


  <% @producer.each do |producer| %>
    <% if producer.latitude != nil && producer.longitude != nil %>

      L.marker([<%= producer.latitude %>, <%= producer.longitude %>]).addTo(map)
          .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
          .openPopup();

    <% end %>
  <% end %>

</script>
