<div class= "content"> 
  <div class= "container col-lg-8 col-md-6 col-sm-6 col-xs-6">  
    <div class="row flex-wrap justify-content-around px-4">

      <% @producer.each do |producer| %>
        <div class="col-lg-6 col-md-6"> 
          <div class="box-testimony">
            <blockquote class="to-animate-2 fadeInDown animated">
              <p><%= producer.description %></p>
            </blockquote>
            <div class="author to-animate fadeInUp animated">
              <figure>
                <img class="user_picture" src="<%= asset_path('indexproducers/ble.jpg') %>" style="float: left">
              </figure>
                <p><%= producer.first_name %> <%= producer.last_name %></br>
                <span class="subtext"><%= producer.email %></a> </span></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class= "container_card col-lg-4 col-md-6 col-sm-6 col-xs-6">  
    <img class="" src="<%= asset_path('indexproducers/monde.jpg') %>" style="float: left">>
  </div>
</div>