<div class="gradient"></div>
<section id="fh5co-home" style="background-image: url(&quot; https://cdn.pixabay.com/photo/2019/06/16/19/10/wheat-4278543_1280.jpg &quot;); background-position: 0px 0px; height: 200px" data-stellar-background-ratio="0.5" class="animated">
  <div class="gradient"></div>
  <div class="container">
    <div class="text-wrap" style="height: 180px">
      <div class="text-inner">
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="to-animate fadeInUp animated"><%= @producer.first_name %> <%= @producer.last_name %></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slant"></div>
</section>

<section id="fh5co-work" data-section="work" class="animated">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center" style="padding: 0">
        <h2 class="to-animate fadeInUp animated">Informations</h2>
      </div>
    </div>
    <div class="row row-bottom-padded-sm">
      <div class="col-md-6 text-center to-animate fadeInUp animated">
        <a href="https://cdn.pixabay.com/photo/2015/12/08/01/00/carrots-1082251_1280.jpg" class="fh5co-project-item image-popup to-animate fadeInUp animated">
          <img src="https://cdn.pixabay.com/photo/2015/12/08/01/00/carrots-1082251_1280.jpg" alt="Image" class="img-responsive" style="height: 350px">
        </a>
      </div>
      <div class="col-md-6 text-center to-animate fadeInUp animated">
        <ul class="fh5co-contact-info" style="list-style-type: none">
          <li><i class="fas fa-home"></i> <%= @producer.address%>
            <br>
            <!-- if city = nil, there is an error because city_name and zip_code aren't defined -->
            <% if @producer.city.nil? %>
              <i>Pas d'adresse enregistrée pour le moment</i>
            <% else %>
              <%= @producer.city.city_name%> <%= @producer.city.zip_code %>
            <% end %>
          </li>
          <li><i class="fas fa-phone-alt"></i> <%= @producer.phone_number %></li>
          <li><i class="fas fa-at"></i> <%= @producer.email%></li>
          <li><i class="fas fa-globe"></i> <%= link_to @producer.website, @producer.website %></li>
        </ul>
      </div>
    </div>
    <div class="row description-box" style="margin-top: 50px">
      <blockquote>
        <p><%= @producer.description %></p>
      </blockquote>
    </div>
    <% if producer_signed_in? %>
      <div class="row box-edit">
        <%= link_to "Modifier mes informations", edit_producer_registration_path, { :type => "button",  :class => "btn btn-primary btn-lg" } %>
      </div>
    <% end %>

      <section id='comment' class='mt-5'>
        <%= form_tag url_for(:controller => 'comments', :action => 'create') do %>
          <div class="form-group text-left mb-4">
            <%= label_tag "Commentaire" %><br />
            <%= text_area "content", nil, class: 'form-control' ,style: 'width:100%; background-color: rgba(255, 255, 255, 1.0);' %>
          </div>
          <div class="form-group">
            <%= hidden_field_tag :producer_id, @producer.id %>
            <%= submit_tag "Commenter", class: "btn btn-secondary btn-lg" %>
          </div>
        <% end %>
      </section>

      <section id='comments' class='mt-5'>
        <% if @producer.comments.count == 0 %>

          <p class="text-center mb-0" style='font-size: 28px;'>
            Il n'y a pas encore de commentaire concernant ce producteur <i class="fa fa-smile-o fa-x3" aria-hidden="true"></i>
          </p>

        <% else %>

          <div class="row flex-column p-5 m-5">
            <div class="list-group">
              <% @producer.comments.each do |comment| %>

                <div class="list-group-item list-group-item-action d-flex justify-content-start align-items-center border-secondary pl-0" style="max-width: 600px; min-width: 450px;">
                  <div class="col-2 mx-2" style="min-width: 90px;">
                    <img src="https://cdn.pixabay.com/photo/2015/12/08/01/00/carrots-1082251_1280.jpg" alt="avatar" class="rounded-circle" width="70px" height="70px" />
                  </div>
                  <div class="col-10 d-flex flex-column pl-0">
                    <div class="d-flex justify-content-between px-0">
                      <h5 class="mb-1"><%= comment.user.first_name %>, <%= comment.user.last_name.upcase %></h5>
                      <small class="text-muted"><%= comment.created_at.strftime("%d/%m/%Y, à %H:%M") %></small>
                      <!-- 20/11/2015, 09:00 am -->
                    </div>
                    <p class="mb-1"><%= comment.content %></p>
                  </div>
                </div>

              <% end %>
            </div>
          </div>
        <% end %>

      </section>

  </div>

  <div class="slant"></div>
</section>
