<div class="gradient"></div>

<section id="fh5co-home" style="background-image: url(&quot; https://cdn.pixabay.com/photo/2019/06/16/19/10/wheat-4278543_1280.jpg &quot;); background-position: 0px 0px; height: 200px" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="text-wrap" style="height: 180px">
      <div class="text-inner">
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="to-animate fadeInUp animated"><%= @producer.first_name %> <%= @producer.last_name.upcase %></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slant"></div>
</section>

<section id="fh5co-work" data-section="work">
  <div class="container">

    <div class="row">
      <div class="col-md-12 section-heading text-center" style="padding: 0">
        <h2>Informations</h2>
      </div>
    </div>

    <div class="d-flex flex-wrap justify-content-between ">

      <div class="col-md-6 px-0 text-center">
        <a href="https://cdn.pixabay.com/photo/2015/12/08/01/00/carrots-1082251_1280.jpg" class="fh5co-project-item image-popup to-animate mb-0">
          <img src="https://cdn.pixabay.com/photo/2015/12/08/01/00/carrots-1082251_1280.jpg" alt="Image" class="img-responsive" style="height: 350px;">
        </a>
      </div>

      <div class="fh5co-contact-info box-producer col-md-6">
        <table class="table table-borderless text-white">
          <tbody>
            <tr>
              <td><i class="fas fa-home"></i></td>
              <td>
                <% if @producer.city.nil? %>
                  <i>Pas d'adresse enregistrée pour le moment</i>
                <% else %>
                  <%= @producer.address%><br />
                  <%= @producer.city.city_name%> <%= @producer.city.zip_code %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><i class="fas fa-phone-alt"></i></td>
              <td><%= @producer.phone_number %></td>
            </tr>
            <tr>
              <td><i class="fas fa-at"></i></td>
              <td><a href="mailto:<%= @producer.email%>"><%= @producer.email%></td>
            </tr>
            <tr>
              <td><i class="fas fa-globe"></i></td>
              <td><%= link_to @producer.website, @producer.website %></td>
            </tr>
          </tbody>
        </table>

          <blockquote>
            <p><%= @producer.description %></p>
          </blockquote>

      </div>
    </div>

    <section id="fh5co-about-bis" data-section="about" class="animated">
      <% if producer_signed_in? %>
        <div class="row box-edit">
          <%= link_to "Modifier mes identifiants", edit_producer_registration_path, { :type => "button",  :class => "btn btn-primary btn-lg" } %>
          <%= link_to "Modifier mes informations", edit_producer_path(current_producer), class: "btn btn-primary btn-lg" %>
        </div>
      <% end %>
    </section>

      <section id='comment' class='mt-5'>
        <%= form_tag url_for(:controller => 'comments', :action => 'create') do %>
          <div class="form-group text-left mb-4">
            <%= label_tag "Commentaire" %><br />
            <%= text_area "content", nil, class: 'form-control' ,style: 'width:100%; background-color: rgba(255, 255, 255, 1.0);' %>
          </div>
          <div class="form-group">
            <%= hidden_field_tag :producer_id, @producer.id %>
            <%= submit_tag "Commenter", class: "btn btn-secondary btn-lg" %>
          </div>
        <% end %>
      </section>

      <section id='rating' class='mt-5 d-flex justify-content-between'>

        <div id='producer-rating' class='d-flex justify-content-between' style='width: 230px;'>
          <div class="stars">
            <% if @producer.rating == nil %>
              <% 5.times do %>
                <i class='fa fa-star align-middle'></i>
              <% end %>
            <% else %>
              <% number_star = @producer.rating.truncate %>
              <% number_star.times do %>
                <i class='fa fa-star align-middle checked'></i>
              <% end %>
              <% (5 - number_star).times do %>
                <i class='fa fa-star align-middle'></i>
              <% end %>
            <% end %>
          </div>

          <div class="rating align-middle" style='color: yellow; font-size: 25px;'>
            <% if @producer.rating == nil %>
              <span>Non noté</span>
            <% else %>
              <strong><%= @producer.rating.round(1) %></strong>
            <% end %>
          </div>
        </div>

        <div id='user-rating'>
          <strong class='align-middle'>Noter : </strong>
          <%= link_to ratings_path(rating: 1, producer_id: @producer.id), :method => :post do %><i title='Très mauvais' class='fa fa-star align-middle unchecked' id='u-one'>
          </i><% end %><%= link_to ratings_path(rating: 2, producer_id: @producer.id), :method => :post do %><i title='Mauvais' class='fa fa-star align-middle unchecked' id='u-two'>
          </i><% end %><%= link_to ratings_path(rating: 3, producer_id: @producer.id), :method => :post do %><i title='Moyen' class='fa fa-star align-middle unchecked' id='u-three'>
          </i><% end %><%= link_to ratings_path(rating: 4, producer_id: @producer.id), :method => :post do %><i title='Bon' class='fa fa-star align-middle unchecked' id='u-four'>
          </i><% end %><%= link_to ratings_path(rating: 5, producer_id: @producer.id), :method => :post do %><i title='Très bon' class='fa fa-star align-middle unchecked' id='u-five'></i><% end %>
        </div>
      </section>

      <section id='comments' class='mt-2'>
        <% if @producer.comments.count == 0 %>

          <p class="text-center mb-0" style='font-size: 28px;'>
            Il n'y a pas encore de commentaire concernant ce producteur <i class="fa fa-smile-o fa-x3" aria-hidden="true"></i>
          </p>

        <% else %>

          <div class="d-flex flex-column">
            <div class="list-group">
              <% @producer.comments.sort{ |x,y| y <=> x }.each do |comment| %>

                <div class="list-group-item list-group-item-action d-flex justify-content-start align-items-center border-secondary pl-0">
                  <div class="col-2 col-md-1 mx-2" style="min-width: 90px;">
                    <img src="https://cdn.pixabay.com/photo/2015/12/08/01/00/carrots-1082251_1280.jpg" alt="avatar" class="rounded-circle" width="70px" height="70px" />
                  </div>
                  <div class="col-10 col-md-11 d-flex flex-column">
                    <div class="d-flex justify-content-between pr-4">
                      <h5 class="mb-1"><%= comment.user.first_name %>, <%= comment.user.last_name.upcase %></h5>
                      <small class="text-muted">
                        <% if comment.user == current_user %>
                          <%= link_to "Supprimer", comment_path(comment.id, producer_id: @producer.id), :type => "button", :method => :delete, :class => 'btn btn-sm btn-danger mr-5' %>
                        <% end %>
                        <%= comment.created_at.strftime("%d/%m/%y, à %H:%M") %>
                      </small>
                      <!-- 20/11/2015, 09:00 am -->
                    </div>
                    <p class="text-break mb-1 pr-4"><%= comment.content %></p>
                  </div>
                </div>

              <% end %>
            </div>
          </div>

        <% end %>
      </section>

  </div>

  <div class="slant"></div>
</section>

<script>
  list = ["#u-one", "#u-two", "#u-three", "#u-four", "#u-five"]
  for (let id of list) {
    $(`${id}`).mouseover(function() {
      for (let i = 0; i <= list.indexOf(id); i++) {
        $(`${list[i]}`).addClass("checked").removeClass("unchecked");
      };
    });
    $(`${id}`).mouseout(function() {
      for (let i = 0; i <= list.indexOf(id); i++) {
        $(`${list[i]}`).addClass("unchecked").removeClass("checked");
      };
    });
  }
</script>
