<div class="gradient"></div>

<section id="fh5co-home" data-section='profile' style="background-image: url(&quot; https://cdn.pixabay.com/photo/2019/06/16/19/10/wheat-4278543_1280.jpg &quot;); background-position: 0px 0px; height: 200px;" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="text-wrap" style="height: 180px;">
      <div class="text-inner">
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="to-animate"><%= @producer.first_name %> <%= @producer.last_name %></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slant"></div>
</section>

<section id="fh5co-work" class='pt-5'>
  <div class="container">

    <section id="information-editing" class='mt-5'>
      <% if producer_signed_in? && current_producer == @producer %>
        <div class="row my-3">
          <div class="col-md-6">
            <%= link_to "Modifier mes identifiants", edit_producer_registration_path, class: "btn btn-primary btn-lg my-2" %>
          </div>
          <div class="col-md-5 text-center px-0 mx-3">
            <%= link_to "Modifier mes informations", edit_producer_path(current_producer), class: "btn btn-primary btn-lg w-100 my-2" %>
          </div>
        </div>
      <% end %>
    </section>

    <div class="row py-4" >
      <div id="follow" class="col-md-6">
        <% if current_producer == @producer %>
          <div><i class="fa fa-code-fork"></i> Vous êtes suivi par <%= @producer.favorited_by.count %> utilisateur(s)</div>
        <% else %>
          <div><i class="fa fa-code-fork"></i> Producteur suivi par <%= @producer.favorited_by.count %> utilisateur(s)</div>
        <% end %>
      </div>
      <div id="stars" class="col-md-5 text-right px-0 mx-3">
        <% if @producer.rating == nil %>
          <span>Non noté</span>
          <% 5.times do %>
            <i class='fa fa-star align-middle'></i>
          <% end %>
        <% else %>
          <strong><%= @producer.rating.round(1) %></strong>
          <% number_star = @producer.rating.truncate %>
          <% number_star.times do %>
            <i class='fa fa-star align-middle checked'></i>
          <% end %>
          <% (5 - number_star).times do %>
            <i class='fa fa-star align-middle'></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <!-- Avatars and description -->
    <div class="row">
      <div class="col-md-6 text-center h-100 align-self-center mt-3" style='max-height: 500px;'>
        <% if @producer.avatar.attached? %>
          <%= link_to image_tag(@producer.avatar, alt: 'avatar', class:'img-responsive avatar to-animate'), @producer.avatar, class:'fh5co-project-item image-popup to-animate' %>
        <% else %>
          <% if current_producer == @producer %>
            <p class='font-italic box-avatar to-animate'>Vous n'avez pas encore ajouté d'avatar à votre profil</p>
          <% else %>
            <p class='font-italic box-avatar to-animate'>Il n'y a pas encore d'avatar lié à ce producteur</p>
          <% end %>
        <% end %>
        <% if producer_signed_in? %>
          <div class='text-left mb-3'>
            <%= form_tag producer_avatars_path(@producer), multipart: true do %>
              <div class='input-group'>
                <div class="input-group-prepend">
                  <%= submit_tag "Ajouter", class:'btn btn-primary' %>
                </div>
                <div class="custom-file">
                  <%= file_field_tag :avatar, id: 'avatar_user', class:'custom-file-input' %>
                  <%= label_tag :avatar, "Choisissez...", class:'custom-file-label' %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>


      <div class="col-md-5 fh5co-contact-info to-animate h-100 mx-3 mt-3" id='user-producer-information'>
        <table class="table table-borderless text-white text-left my-2">
          <tbody>
            <tr>
              <td scope="col" style="width: 30%; overflow: hidden;"><i class="fas fa-home"></i></td>
              <td scope="col" style="width: 70%; overflow: hidden;">
                <% if @producer.city_name.nil? %>
                  <em>Pas d'adresse enregistrée</em>
                <% else %>
                  <%= @producer.address %><br />
                  <%= @producer.zip_code %> <%= @producer.city_name %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><i class="fas fa-phone-alt"></i></td>
              <td><%= @producer.phone_number %></td>
            </tr>
            <tr>
              <td><i class="fas fa-at"></i></td>
              <td><a href="mailto:<%= @producer.email%>"><%= @producer.email%></td>
            </tr>
            <tr>
              <td><i class="fas fa-globe"></i></td>
              <% if @producer.website%>
                <td><%= link_to @producer.website, @producer.website %></td>
              <%end%>
            </tr>
            <tr>
              <% if user_signed_in? %>
                <% if current_user && @favorited %>
                  <td>
                    <span style="color: red;"><i class="fas fa-heart"></i></span>
                  </td>
                  <td>
                    <b><%= link_to "Retirer de mes favoris", favorite_producer_path(@producer, type: "unfavorite"), method: :put, :style => "text: bold;" %></b>
                  </td>
                <% else %>
                  <td><i class="fas fa-heart"></i></td>
                  <td>
                    <%= link_to "Ajouter à mes favoris", favorite_producer_path(@producer, type: "favorite"), method: :put %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          </tbody>
        </table>
        <% if @producer.description %>
          <hr class='my-3 style-one'>
          <blockquote>
            <p class='mb-1'><%= @producer.description %></p>
          </blockquote>
        <% end %>
      </div>
    </div>

    <!-- Pictures of products -->
  <div class='container'>
    <hr class='my-5 style-one'>
    <div class="pictures">
      <% if current_producer == @producer %>
        <h1>Vos images</h1>
      <% else %>
        <h1>Images concercant ce producteur</h1>
      <% end %>
    </div>

    <div id='gallery'>
      <% if @producer.images.attached? %>
        <!-- Gallery zoom -->
          <div class="d-flex to-animate justify-content-center flex-wrap">
            <% @producer.images.each_with_index do |image, n| %>
              <div class='m-3 gallery-div'>
                <span class="zoom-gallery">
                  <%= link_to image_tag(image, alt: 'avatar', class:'img-responsive pictures-gallery'), image %>
                </span>
                <%if producer_signed_in?%>
                  <%= link_to delete_image_attachment_producer_path(image.id), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette photo ?' } do %>
                    <i class="fas fa-trash-alt trash-red rounded-circle"></i>
                  <%end%>
                <%end%>
              </div>
            <% end %>
        </div>
      <% else %>
        <!-- If there is no picture -->
        <% if current_producer == @producer %>
          <p class='box-avatar'>
            Vous n'avez pas encore ajouté d'image à votre profil &nbsp;<i class="fa fa-smile-o fa-x3" aria-hidden="true"></i>
          </p>
        <% else %>
          <p class='box-avatar'>
            Il n'y a pas encore d'image pour ce producteur &nbsp;<i class="fa fa-smile-o fa-x3" aria-hidden="true"></i>
          </p>
        <% end %>
      <% end %>

      <% if producer_signed_in? %>
        <div class='text-center mt-5'>
          <%= form_tag producer_images_path(@producer), multipart: true do %>
            <div class='input-group'>
              <div class="input-group-prepend">
                <%= submit_tag "Ajouter", class:'btn btn-primary' %>
              </div>
              <div class="custom-file">
                <%= file_field_tag :images, multiple: true, id: 'avatar_user', class:'custom-file-input' %>
                <%= label_tag :images, "Choisissez...", class:'custom-file-label text-left' %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <hr class='my-5 style-one'>

    <% if current_producer == @producer && current_producer.favorited_by.count > 0 %>
      <!-- MY FAVORITE USERS -->
      <div class="container">
        <div class="col text-center to-animate mt-4">
          <p class="text-center">
            <strong>Les utilisateurs qui me suivent !</strong>
          </p>
        </div>
        <!--TABLE-->
        <div class="col fh5co-contact-info">
          <table class="table text-light text-center table-hover table-borderless table-responsive">
            <thead>
              <tr class="border-bottom">
                <th scope="col" style="width: 20%; overflow: hidden;">Nom</th>
                <th scope="col" style="width: 20%; overflow: hidden;">Prénom</th>
                <th scope="col" style="width: 20%; overflow: hidden;">Email</th>
                <th scope="col" style="width: 10%; overflow: hidden;">Profil</th>
              </tr>
            </thead>
            <tbody>
              <% current_producer.favorited_by.each do |user| %>
                <tr>
                  <td class="py-2"><%= link_to user.last_name, user_path(user.id) %></td>
                  <td class="py-2"><%= link_to user.first_name, user_path(user.id) %></td>
                  <td class="py-2"><%= mail_to user.email, user.email %> </a></td>
                  <td class="py-2"><%= link_to "Voir", user_path(user.id) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <section id='comment' class='mt-5'>
        <%= form_tag url_for(:controller => 'comments', :action => 'create') do %>
          <div class="form-group text-left mb-4">
            <%= label_tag "Commentaire" %><br />
            <%= text_area "content", nil, class: 'form-control' ,style: 'width:100%; background-color: rgba(255, 255, 255, 1.0);' %>
            <%= hidden_field_tag :producer_id, @producer.id %>
          </div>
          <div class='d-flex justify-content-between'>
            <div class="form-group">
              <%= submit_tag "Commenter", class: "btn btn-secondary btn-lg" %>
            </div>
            <div id='rating' class='d-flex justify-content-between'>
              <div id='user-rating'>
                <strong class='align-middle'>Noter : </strong>
                <%= link_to ratings_path(rating: 1, producer_id: @producer.id), :method => :post do %><i title='Très mauvais' class='fa fa-star align-middle unchecked' id='u-one'>
                </i><% end %><%= link_to ratings_path(rating: 2, producer_id: @producer.id), :method => :post do %><i title='Mauvais' class='fa fa-star align-middle unchecked' id='u-two'>
                </i><% end %><%= link_to ratings_path(rating: 3, producer_id: @producer.id), :method => :post do %><i title='Moyen' class='fa fa-star align-middle unchecked' id='u-three'>
                </i><% end %><%= link_to ratings_path(rating: 4, producer_id: @producer.id), :method => :post do %><i title='Bon' class='fa fa-star align-middle unchecked' id='u-four'>
                </i><% end %><%= link_to ratings_path(rating: 5, producer_id: @producer.id), :method => :post do %><i title='Très bon' class='fa fa-star align-middle unchecked' id='u-five'></i><% end %>
              </div>
            </div>
          </div>
        <% end %>
      </section>
    <% end %>

      <section id='comments' class='mt-5'>
        <% if @producer.comments.count == 0 %>
          <% if current_producer == @producer %>
            <p class="text-center mb-0" style='font-size: 28px;'>
              Il n'y a pas encore de commentaire vous concernant <i class="fa fa-smile-o fa-x3" aria-hidden="true"></i>
            </p>
          <% else %>
            <p class="text-center mb-0" style='font-size: 28px;'>
              Il n'y a pas encore de commentaire concernant ce producteur <i class="fa fa-smile-o fa-x3" aria-hidden="true"></i>
            </p>
          <% end %>

        <% else %>

          <div class="d-flex flex-column">
            <div class="list-group">
              <% @producer.comments.sort{ |x,y| y <=> x }.each do |comment| %>

                <div class="list-group-item list-group-item-action d-flex justify-content-start align-items-center border-secondary pl-0">
                  <div class="col-2 col-md-1 mx-2" style="min-width: 90px;">
                    <% if comment.user.avatar_user.attached? %>
                      <%= link_to image_tag(comment.user.avatar_user, alt: 'avatar_user', class:'img-responsive rounded-circle', width: '70px', height: '70px'), comment.user.avatar_user  %>
                    <% else %>
                      <%= image_tag("no_avatar.png", alt: 'avatar_user', class:'img-responsive rounded-circle', width: '70px', height: '70px') %>
                    <% end %>
                  </div>
                  <div class="col-10 col-md-11 d-flex flex-column">
                    <div class="d-flex justify-content-between pr-4">
                      <h5 class="mb-1"><%= comment.user.first_name %>, <%= comment.user.last_name.upcase %></h5>
                      <small class="text-muted">
                        <% if comment.user == current_user %>
                          <%= link_to "Supprimer", comment_path(comment.id, producer_id: @producer.id), :method => :delete, :class => 'btn btn-sm btn-danger mr-5' %>
                        <% end %>
                        <%= comment.created_at.in_time_zone("Paris").strftime("%d/%m/%y, à %H:%M") %>
                      </small>
                    </div>
                    <p class="text-break mb-1 pr-4"><%= comment.content %></p>
                  </div>
                </div>

              <% end %>
            </div>
          </div>

        <% end %>
      </section>

  </div>

  <div class="slant"></div>
</section>

<script>
  list = ["#u-one", "#u-two", "#u-three", "#u-four", "#u-five"]
  for (let id of list) {
    $(`${id}`).mouseover(function() {
      for (let i = 0; i <= list.indexOf(id); i++) {
        $(`${list[i]}`).addClass("checked");
      };
    });
    $(`${id}`).mouseout(function() {
      for (let i = 0; i <= list.indexOf(id); i++) {
        $(`${list[i]}`).removeClass("checked");
      };
    });
  }
</script>
