<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="jpg" href="https://cdn.pixabay.com/photo/2016/10/18/19/24/carrot-1751148_960_720.png">
    <title>Tous Au Marché </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

    <!-- CSS & JS Styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Font Awesome -->
   <script src="https://kit.fontawesome.com/b9f969d6d6.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="main-container mx-0">
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/flash' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
